* {margin: 2;}
.p1{

    background-color: rgb(255, 0, 0);
    color: rgba(0, 0, 250, 0.5);
}

#p2
{
    background-color: #e9ec20 ;
    color: hsl(120, 75, 25);
}


#p3
{
    background-color:royalblue;
    color: rgb(0, 0, 0);
}
footer ul li
{
    display: inline-block;
    padding:1cm;
}