* {margin: 2;}
.p1{

    background-color: rgb(255, 0, 0);
    color: rgba(0, 0, 250, 0.5);
}

#p2
{
    background-color: #e9ec20 ;
    color: hsl(120, 75, 25);
}


#p3
{
    background-color:royalblue;
    color: rgb(0, 0, 0);
}
footer{text-align: center;}
footer ul li
{
    display: inline-block;
    padding:1cm;
}
header table
{
    align-items: center;
}
header table tr td a
{
    text-decoration: none;
}
main{text-align: center;}
footer  ul li a
{
    text-decoration: none;
    color: #be3930;
}